<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
{{template "menu"}}

<div class="container" id="initiate-form">
    <form @submit.prevent="processForm">

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="coin">Asset</label>
                <select name="coin" id="coin" class="form-control" v-model="form.coin" required>
                    <option disabled selected value> -- select an option -- </option>
                    <option value="btc">Bitcoin</option>
                    <option value="via">Viacoin</option>
                    <option value="ltc">Litecoin</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="contractHex">Your WIF</label>
                <input type="text" class="form-control" id="wif" name="wif" placeholder="" autocomplete="off" v-model="form.wif" required>
            </div>
        </div>

        <div class="form-row">

            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" id="contractTransaction" name="amount" placeholder="" autocomplete="off" step="0.00000001" v-model="form.amount" required>
            </div>

            <div class="form-group col-md-6">
                <label for="contractHex">Counter Party Address</label>
                <input type="text" class="form-control" id="counterPartyAddr" name="counterPartyAddr" placeholder="" autocomplete="off" v-model="form.counterPartyAddr" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Initiate contract</button>
        <p v-show="success == true" align="center"><button type="button" class="btn btn-outline-success" onclick="printPage()">Print/Save Atomic Swap Details</button></p>

        <div id="response" style="margin-top: 30px">
            <pre v-show="success == true">Address ${result["counter_party_address"]} will receive ${result["contract_amount"]} ${result["unit"]}

            Give these details to the counterparty<br></pre>

        <code v-show="success == true" style="margin-bottom: 20px">
            Secret Hash: ${result["secret_hash"]}<br>
            Contract Hex: ${result["contract_hex"]}<br>
            Contract Transaction: ${result["contract_transaction_hex"]}</br>
        </code><br>

            <pre v-show="success == true">Save these details. Required when redeeming the asset or refund<br></pre>
            <code v-show="success == true" style="margin-bottom: 20px">
                Secret: ${result["secret"]}<br>
                Refund transaction: ${result["refund_transaction"]}</br>
            </code><br>

            <code v-show="success == true">debug output</code>
            <pre v-show="success == true">${result}</pre>
            <pre v-show="error.length > 0" style="color: red">${error}</pre>
        </div>
    </form>

    <div id="broadcast" v-show="success == true">
    <form @submit.prevent="processBroadcastForm">
        <div class="form-group col-md-6">
            <label for="contractHex">Raw transaction</label>
            <input type="text" class="form-control" id="rawTransaction" name="rawTransaction" placeholder="" autocomplete="off" v-model="form.contractTransaction" disabled>
        </div>

        <p align="center"><button type="submit" class="btn btn-success">Broadcast/Intialize swap</button></p>
    </form>
    </div>

    <div id="broadcastData" v-show="broadcastSuccess == true">
        <p>Atomicswap successfully initialized. The counterparty can participate now.</p>
        <code>$transaction["asset_name"]} txid: $transaction["txid"]}</code>
    </div>

</div>


<script>

    function printPage(){
        var mywindow = window.open('', 'PRINT', 'height=400,width=600');

        mywindow.document.write('<html><head><title>' + document.title  + '</title>');
        mywindow.document.write('</head><body >');
        mywindow.document.write('<h1>' + "Atomic OTC Swap - Initiate"  + '</h1>');
        mywindow.document.write(document.getElementById("response").innerHTML);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();
    }

    const app = new Vue({
        delimiters: ['${', '}'],
        el: '#initiate-form',
        data() {
            return {
                form: {
                    coin: "",
                    contractHex: "",
                    contractTransaction: "",
                },
                broadcastForm: {
                    asset: "",
                    rawTransaction: "",
                },
                success: false,
                broadcastSuccess: false,
                result: [],
                transaction: [],
                error: [],
            };
        },
        methods: {
            processForm: function () {
                vueutil.post(this, '/api/initiate', this.form, (response) => {
                    if (response.data.success == true) {
                        this.success = true
                        this.result = response.data.result
                        this.form.contractTransaction = response.data.result["contract_transaction_hex"]
                        this.broadcastForm.asset = this.form.coin
                        this.broadcastForm.rawTransaction = this.form.contractTransaction
                    } else {
                        this.error = response.data.error
                    }
                });
                this.clear()
            },
            processBroadcastForm: function () {
                vueutil.post(this, '/api/broadcast', this.broadcastForm, (response) => {
                    if (response.data.success == true) {
                        this.success = true
                        this.broadcastSuccess = true
                        this.transaction = response.data.result
                    }else{
                        this.success = false
                        this.error = response.data.error
                    }
                });
            },
            clear: function () {
                this.result = []
                this.error = []
                this.transaction = []
            },
        }
    });

</script>

</body>
</html>