<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
{{template "menu"}}


<div class="container">
    <form action="/api/redeem" method="post">

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="coin">Asset</label>
                <select name="coin" id="coin" class="form-control" required>
                    <option disabled selected value> -- select an option -- </option>
                    <option value="btc">Bitcoin</option>
                    <option value="via">Viacoin</option>
                    <option value="ltc">Litecoin</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="contractHex">Your WIF</label>
                <input type="text" class="form-control" id="wif" name="wif" placeholder="" autocomplete="on" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="contractHex">Secret</label>
                <input type="text" class="form-control" id="secret" name="secret" placeholder="3e0b064c97247732a3b345ce7b2a835d928623cb2871c26db4c2539a38e61a16" autocomplete="on" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="contractHex">Contract Hex</label>
                <input type="text" class="form-control" id="contractHex" name="contractHex" placeholder="63a61429c36b8dd380e0426bdc1d834e74a630bfd5d1118876a9149ee19833332a04d2be97b5c99c970191221c070c6704e6dabb59b17576a914b0ec0640c89cf803b8fdbd6e0183c354f71748c46888ac" autocomplete="on" required>
            </div>
            <div class="form-group">
                <label for="contractTransaction">Contract Transaction</label>
                <input type="text" class="form-control" id="contractTransaction" name="contractTransaction" placeholder="010000000137afc6c25b027cb0a1db19a7aac365854796260c4c1077e3e8accae5e4c300e90300000001ffffffff02441455980100000000001976a9144d7c96b6d2360e48a07528332e537d81e068f8ba88ac00e1f50500000000000017a914195fb53333e61a415e9fda21bb991b38b5a4e1c387000000000000000001ffffffffffffffff00000000ffffffff6b483045022100b30971448c93be84c28b98ae159963e9521a84d0c3849821b6e8897d59cf4e6c0220228785cb8d1dba40752e4bd09d99b92b27bc3837b1c547f8b4ee8aba1dfec9310121035a12a086ecd1397f7f68146f4f251253b7c0092e167a1c92ff9e89cf96c68b5f"
                       autocomplete="on" required>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Redeem</button>
    </form>
</div>

</body>
</html>