<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
{{template "menu"}}


<div class="container" id="secret-form">
    <form @submit.prevent="processForm">

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="asset">Asset</label>
                <select name="asset" id="asset" class="form-control" required>
                    <option disabled selected value> -- select an option -- </option>
                    <option value="btc">Bitcoin</option>
                    <option value="via">Viacoin</option>
                    <option value="ltc">Litecoin</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="contractHex">Redemption transaction</label>
                <input type="text" class="form-control" id="redemptionTransaction" name="redemptionTransaction" placeholder="000000000118d94f38b8532bfe78bda0d0848a7965bdfbe6e88476896f01318717bc7e1aa50100000000ffffffff01885ef5050000000000001976a9149551ab760ba64b7e573f54d34c53506676e8145888ace6dabb590000000001ffffffffffffffff00000000ffffffffe0483045022100a1a3b37a67f3ed5d6445a0312e825299b54d91a09e0d1b59b5c0a8baa7c0642102201a0d53e9efe7db8dc47210b446fde6425be82761252ff0ebe620efc183788d86012103395a4a3c8c96ef5e5af6fd80ae42486b5d3d860bf3b41dafc415354de8c7ad80203e0b064c97247732a3b345ce7b2a835d928623cb2871c26db4c2539a38e61a16514c5163a61429c36b8dd380e0426bdc1d834e74a630bfd5d1118876a9149ee19833332a04d2be97b5c99c970191221c070c6704e6dabb59b17576a914b0ec0640c89cf803b8fdbd6e0183c354f71748c46888ac"
                       autocomplete="off" v-model="form.redemptionTransaction" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="contractHex">Secret Hash</label>
                <input type="text" class="form-control" id="secretHash" name="secretHash" placeholder="29c36b8dd380e0426bdc1d834e74a630bfd5d111" autocomplete="off" v-model="form.secretHash" required>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Extract secret</button>
    </form>

    <div id="response" style="margin-top: 30px">

            You can use the extracted Secret to redeem.<br></pre>

        <code v-show="success == true" style="margin-bottom: 20px">
            Extracted Secret: ${result["secret"]}</br>
        </code><br>

        <code v-show="success == true">debug output</code>
        <pre v-show="success == true">${result}</pre>
        <pre v-show="error.length > 0" style="color: red">${error}</pre>
    </div>
    </form>

</div>
</body>

<script>
    const app = new Vue({
        delimiters: ['${', '}'],
        el: '#secret-form',
        data() {
            return {
                form: {
                    redemptionTransaction: "",
                    secretHash: "",
                },
                success: false,
                result: [],
                error: [],
            };
        },
        methods: {
            processForm: function () {
                this.success = false
                vueutil.post(this, '/api/secret', this.form, (response) => {
                    if (response.data.success == true) {
                        this.success = true
                        this.result = response.data.result
                    } else {
                        this.error = response.data.error
                    }
                });
                this.clear()
            },
            clear: function () {
                this.result = []
                this.error = []
            },
        }
    });
</script>

</html>